@model List<Product>

@{
    List<Product> ordered_products = Model.OrderBy(product => product.Title).ToList();
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="text-end">
                <a asp-controller="Product" asp-action="UpdateOrInsert" class="btn btn-dark"><i class="bi bi-plus-circle"></i> Create New Product</a>
            </div>
        </div>
        <table id="tableData" class="table table-bordered table-striped text-center" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">ISBN</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Author</th>
                    <th class ="text-center">Category</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}