<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">User List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tableData" class="table table-bordered table-striped text-center" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">Company</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}